button {
    font-family: monospace;
    padding: 2px 4px;
}
.project-photo {
    max-width: 350px;
    height: auto;
    margin: 10px;
    display: inline-block;
}
iframe {
    margin: 10px;
    display: inline-block;
}
.project-text {
    font-family: arial;
    color: #1d1915;
    background-color: #fffdf8;
    padding: 10px;
    display: inline-block;
    width: 780px;
}
summary {
    font-family: georgia, serif;
    font-size: 16px;
}
.details {
    font-family: monospace;
}
