button {
    font-family: monospace;
    padding: 2px 4px;
}
.project-photo {
    max-width: 35%;
    height: auto;
    margin: 10px;
    display: inline-block;
}
.project-text {
    font-family: arial;
    color: #1d1915;
    background-color: #fffdf8;
    padding: 10px;
    display: inline-block;
}
summary {
    font-family: georgia, serif;
    font-size: 16px;
    flex-grow: 1;
}
details {
    flex-grow: 1;
}
