body{
    font-family: arial;
    color: #1d1915;
    background-color: #fffdf8;
    padding: 20px;
}
p {
    font-family: monospace;
}
.nav-bar {
    font-family: monospace;
    text-align: left;
    color: #1d1915;
}
.details {
    font-family: monospace;
}
a {
    text-decoration: none;
    color: #1d1915;
}

.log-date {
    text-decoration: italic;
}
.log-title {
    font-family: arial;
    font-size: 24px;
}
.log-body {
    font-family: arial;
}
@media (min-width: 1440px) {
    p {
        font-size: 50px;
    }
    .nav-bar {
        font-size: 50px;
    }
    .details {
        font-size: 50px;
    }
    .log-title {
        font-size: 90px;
    }
    .log-body {
        font-size: 50px;
    }
    ul {
        font-size: 50px;
    }
}