.photo {
    max-width: 480px;
    height: auto;
    margin: 10px;
}
.photo-title {
    font-family: georgia, serif;
    text-align: center;
}
.photo-album {
    font-family: georgia, serif;
    text-align: center;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}
.section {
    font-family: georgia, serif;
    text-align: center;
    padding: 20px 0;
}


