body{
    font-family: arial;
    color: #1d1915;
    background-color: #fffdf8;
    padding: 20px;
}
h1 {
    font-size: 30px;
}
p {
    font-family: monospace;
}
a {
    text-decoration: none;
    color: #1d1915;
}
.details {
    font-family: monospace;
}
html {
  scroll-behavior: smooth;
}


